/*********Tag Selectors**********/

body {
    font-family: sans-serif;
    background-color: powderblue;
    margin: 0;
}

h1 {
    color: white;
    font-size: xx-large;
}

h2 {
    color: rgb(168, 168, 168);
}


/**********Class Selectors*********/

.focus {
    background-color: rgb(168, 168, 168);
}
.break {
   background-color: rgb(141, 130, 211);
}

.pomo {
    height: 5vw;
    width: 5vw;
}

.incomplete {
    background-color: powderblue;
}

.complete {
    background-color: palevioletred;
}

/**********ID Selectors***********/

#timer-container {
    position: relative;
    border-radius: 15px 100px;   
    padding: 40px;
    top: 40px;
    width: 500px;
    margin:auto;
    text-align: center;
    background-color: palevioletred;
    box-shadow: -4px 4px 10px 6px rgb(114, 167, 173);
}

#mins-display, #secs-display {
    font-size: 7.5rem;
    color: white;
    padding: 20px;
}

#start-btn, #pause-btn {
    border:none;
    height: 20px;
    padding: 20px;
    padding-bottom: 30px;
    font-size: 15px;
    border: solid 2px rgb(141, 130, 211);
}

#start-btn:hover, #pause-btn:hover {
    border: solid 2px palevioletred;
}


#start-btn {
   border-radius: 15px 5px 5px 50px; 
}

#pause-btn {
  border-radius: 5px 50px 15px 5px;  
}

#toggle-btn {
    position: absolute;
    bottom:0px;
    left: 250px;
    right: 190px;
    padding: 15px;
    padding-top: 10px;
    font-size: large;
    border-radius: 50px 50px 0px 0px;
    border: none;

}

#pomo-container {
    width: 100vw;
    background-color: white;
    height: 25vh;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: -4px 4px 10px 6px rgb(114, 167, 173);
}

#pomo-counter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
}